// COLOR

$dark-blue: #34495e; // midnight blue
$dark-blue-second:#506d87; // border bottom blue link nav active
$blue: #2980b9;
$light-blue: #b2d1e6;
$light-blue-second: #E8F5FB; // background faq hover
$border-blue: #c8d6dd; // border faq

$dark-green: #056e50;
$semi-dark-green: #14957c;
$green: #16a085;
$light-green: #3eaf99;

$dark-gray: #ced2d3;
$gray: #ecf0f1;

$dark-red: #b23629;
$red: #c0392b;

$dark-orange: #c34e00;
$orange: #F9A600;