//FONT
@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Regular.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Medium.ttf');
    font-weight: 200;
}

@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-SemiBold.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Bold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Rosario";
    src: url('../fonts/Rosario-Regular.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Rosario";
    src: url('../fonts/Rosario-Bold.ttf');
    font-weight: 400;
}