section {
    z-index: 1;
    width: 100%;
    
    .flash {
        width: 100%;
        @include box-sizing(border-box);
        color: white;
        padding: 5px 15px;
        position: relative;
        
        a {
            background-color: transparent;
            color: white;
            font-size: 17px;
            position: absolute;
            right: 10px;
        }
    }
    
    .flash.success {
        background-color: $green;
        border: 4px solid $semi-dark-green;
    }
    
    .flash.fail {
        background-color: $red;
        border: 4px solid $dark-red;
    }
    
    .flash.warning {
        background-color: $orange;
        border: 4px solid $orange;
    }
}